html{
	max-width: 100%;
    overflow-x: hidden;
}
body {
	font-family: 'Montserrat', sans-serif;
	/*background-image: url(../images/banner.jpg); /*COLOCA DEPOIS DE AJEITAR TUDO P NAO ATRAPALHAR*/
	/*background-size: 100vw;*/
	background-color: white;
	max-width: 100vw;
	display: flex;
	flex-direction: column; /*num é que deu certo?*/
}
#juntas{ /*isso aq é basicamente inútil, mas pode ser útil alguma hora*/
	display: block;
	overflow: hidden;
}
#bg{ /*"background*/
	width: 1349px;
	height: 720px;
	object-fit: cover;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -6;
	filter: contrast(160%); /*agr ta BONITOOOO*/
}
.wtf{
	filter: contrast(150%); /*quando colocava no body bugava por alguma razão*/
	width: 1349px;
	height: 720px;
}
.escurecer{
	width: 1349px;
	height: 720px;
	background-color: #312f28;
	opacity: 0.55;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
}
.topm{ /*fundo do cabeçalho*/
	height: 122px;
	width: 1349px;
	background-color: black;
	opacity: 0.5;
	margin-left:-8px;
  	margin-top:-8px;
  	z-index: -4;
}
#logo{
	position: absolute;
	top: 50px;
	left: 30px;
}
ul{
	font-size: 18px;
	list-style: none;
	display: inline-flex;
	position: absolute;
	top: -25px;
	left: 900px;
}
li{
	padding: 50px 10px 49px 10px;
	display: block;
	color: white;

}
li:hover {
	cursor: pointer;
	background-color: #4f4e4e;
	/*4f4e4e*/
	opacity: 0.9;
}
.textolegal{
	font-size: 52px;
	text-align: center;
	color: #fdf4e7;
	flex-grow: 1;
	text-shadow: 2px 2px #4f4e4e;
	padding-top: 150px;
	font-weight: bold;
}
.botao{
	border:solid white 2px;
	color: white;
	position: relative;
	display: inline-block;
	margin-right: 2px;
	width: 290px;
}
.botao:hover {
	animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.botao:hover a{
	animation-name: yay;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes example {
    from {background-color: none;}
    to {background-color: white;}
}
@keyframes yay {
    from {color: white;}
    to {color: #655C51;}
}
#texto{
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.botoes{
	text-align: center; /*resolveu funcionar do nada*/
	padding-top: 30px;
}




.botoes a{
	text-decoration: none;
	color: white;
}

#pc{
	position: absolute;
	top: 790px;
	z-index: 1;
}
#p1{
	position: absolute;
	top: 800px;
	left: 375px;
}
.textao{
	margin-top: 20px;
	text-align: justify;
	margin-right: 60px;
	font-size: 15px;
}
.titulotop{
	font-size: 35px;
	letter-spacing: 7px;
	color: #fe4d01;
	font-weight: bold;
}
.caixa1{
	display: block;
	width: 1349px;
	height: 570px;
	border-top: solid #afb5b6 2px;
	border-bottom: solid #afb5b6 2px;
	left: -8px;
	position: absolute;
	top: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#um{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 7px;
	text-align: center;
	color: #fe4d01;

}
#caixinhas{
	display: flex;
}
#caixinhas div{ /*fazendo cada caixinha (cada uma é uma div) ter uma margin*/
	margin-left: 10px;
	margin-right: 10px;
}
#caixa1{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #d4533a;
}
#caixa2{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #d4533a;
}
#caixa3{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #33adff;
}
#caixa4{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #f3ca4b;
}
#d1{
	color: white;
	position: absolute;
	padding-left: 20px;
	padding-top: 210px;
	line-height: 1.6;
}
#d2{
	font-weight: bold;
	text-align: center;
	margin-top: -98px;
}
#i1{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 27px;
}
#js{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#caixinhas #branco1{
	display: block;
	width: 315px;
	height: 118px;
	background-color: white;
	z-index: -1;
	margin-top: 90px;
	margin-left: 0px;
	box-shadow: 0px 3px grey;
}
#caixa3 #branco1{
	border-right: solid #afb5b6 3px;
	width: 313px;
}
.caixa2 #caixa4 #branco1{
	border-right: solid #afb5b6 3px;
	width: 312px;
}
.caixa1 #caixa4 #branco1{
	border-right: solid #afb5b6 3px;
	width: 313px;
	margin-top: 90px;
}

#estudar{
	background-color: #ff7f00;
	border-radius: 9px;
	color: white;
	text-align: center;
	font-size: 14px;
	position: absolute;
	padding: 10px 8px 10px 8px;
	width: 185px;
	letter-spacing: 3px;

}
#branco1 #estudar{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 57px;
	cursor: pointer;
}
/*exemplo fixados: ver+*/
/*designar como vai ser o botão*/
#ver{
	background-color: black;
	color: white;
	letter-spacing: 2px;
	padding: 5px;
	text-align: center;
	max-width: 170px;
	border-radius: 4px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
}
/*designar a posição dele, como block, dentro de caixa1*/

.caixa2{
	display: block;
	width: 1345px;
	height: 540px;
	border-bottom: solid #afb5b6 2px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 1086px;
	left: -11px;

}
.caixa2 #d2{
	text-align: right;
}
.caixa2 #caixa1{
	background-color: #b21300;
}
.caixa2 #caixa2,.caixa2 #caixa4{
	background-color: #a72d3a;
}
#caixinhas #negocioroxo{
	margin-left: 0; 
}
.caixa2 #caixa3{
	background-color: #8a2bff;
	border-right: solid #afb5b6 2px;
	box-shadow: 2px 0px grey;
	/*9d03be*/
}
.caixa1 #caixa3, .caixa1 #caixa4, .caixa2 #caixa4{
	border-right: solid #afb5b6 2px;
	box-shadow: 2px 0px grey;
	/*9d03be*/
}
.caixa2 #caixa3 #i1{
	filter: hue-rotate(10deg);
}
.caixa2 #estudar{
	background-color: #a72d3a;
}
#dois{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 7px;
	text-align: center;
	color: #a1372b;
}
.caixa2 #caixa3 #branco1{
	margin-top: 95px;
}

@media screen and (max-width: 1290px) {
    html{
    	max-width: 100%;
    	overflow-x: scroll;
    }
}


#alerta {
	width: 400px;
	background-color: #eddfdf;
	border: 1px solid #ccc;
	margin: 40px auto;
	cursor: move;
	position: absolute;
	left: calc(50% - 200px);
	z-index: 34;
}

#alerta .title{
	background-color: #329596;
	height: 30px;
	border-bottom: 1px solid #227374;
	text-transform: uppercase;
	padding: 10px 10px 0px 0px;
	text-align: center;
	color: #073c3d;
	text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title i{
	float: right;
	padding-top: 3px;
	cursor: pointer;
}

#alerta .body{
	padding: 10px;
}

form button{
	display: block;
	padding: 4px 11px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	cursor:pointer;
	position: relative;
	margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
	color: #227210;
	font-size: 12px;
	/*font-size: 12px;*/
}


#uau #contador {
	color: #227210;
	text-align: center;
	margin: 0 auto;
}
#uau {
	position: absolute;
    width: 100%;
}
#alerta .body{
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
#antes{
	display: block;
	margin: 0 auto;
}
#explicar{
	background-color: black;
	color: white;
	border-color: black;
	border-radius: 3px;
	text-align: center;
	margin: 0;
	padding: 14px;
	position: absolute;
	z-index: 34;
	display: none;
}


.member{
	margin-left: 85%;
	z-index: -5;
	position: absolute;


}