html{
	max-width: 100%;
    overflow-x: hidden;
}
body {
	font-family: 'Montserrat', sans-serif;
	/*background-image: url(../images/banner.jpg); /*COLOCA DEPOIS DE AJEITAR TUDO P NAO ATRAPALHAR*/
	/*background-size: 100vw;*/
	background-color: white;
	max-width: 100vw;


}
#juntas{ /*isso aq é basicamente inútil, mas pode ser útil alguma hora*/
	display: block;
	overflow: hidden;
}
#bg{ /*"background*/
	width: 1349px;
	height: 720px;
	object-fit: cover;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -6;
	filter: contrast(160%); /*agr ta BONITOOOO*/
}
.wtf{
	filter: contrast(150%); /*quando colocava no body bugava por alguma razão*/
	width: 1349px;
	height: 720px;
}
.escurecer{
	width: 1349px;
	height: 720px;
	background-color: #312f28;
	opacity: 0.55;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
}
.topm{ /*fundo do cabeçalho*/
	height: 122px;
	width: 1349px;
	background-color: black;
	opacity: 0.5;
	margin-left:-8px;
  	margin-top:-8px;
  	z-index: -4;
}
#logo{
	position: absolute;
	top: 50px;
	left: 30px;
}
ul{
	font-size: 18px;
	list-style: none;
	display: inline-flex;
	position: absolute;
	top: -17px;
	left: 900px;
}
li{
	padding: 50px 10px 50px 10px;
	display: block;
	color: white;

}
li:hover {
	cursor: pointer;
	background-color: #4f4e4e;
	opacity: 0.9;
}
.textolegal{
	font-size: 52px;
	text-align: center;
	color: #fdf4e7;
	flex-grow: 1;
	text-shadow: 2px 2px #4f4e4e;
	padding-top: 150px;
	font-weight: bold;
}
.botao{
	border:solid white 2px;
	color: white;
	position: relative;
	display: inline-block;
	margin-right: 2px;
	width: 290px;
}
#texto{
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.botoes{
	text-align: center; /*resolveu funcionar do nada*/
	padding-top: 30px;
}

.botao:hover #texto{
	mix-blend-mode: multiply;
}



.botoes a{
	text-decoration: none;
	color: white;
}

#pc{
	position: absolute;
	top: 790px;
	z-index: 1;
}
#p1{
	position: absolute;
	top: 800px;
	left: 375px;
}
.textao{
	margin-top: 20px;
	text-align: justify;
	margin-right: 60px;
	font-size: 15px;
}
.titulotop{
	font-size: 35px;
	letter-spacing: 7px;
	color: #fe4d01;
	font-weight: bold;
}
.caixa1{
	display: block;
	width: 1347px;
	height: 565px;
	border-top: solid #afb5b6 2px;
	border-bottom: solid #afb5b6 2px;
	left: -8px;
	position: absolute;
	top: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#um{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 7px;
	text-align: center;
	color: #fe4d01;

}
#caixinhas{
	display: flex;
}
#caixinhas div{ /*fazendo cada caixinha (cada uma é uma div) ter uma margin*/
	margin-left: 10px;
	margin-right: 10px;
}
#caixa1{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #d4533a;
}
#caixa2{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #d4533a;
}
#caixa3{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #33adff;
}
#caixa4{
	width: 260px;
	height:398px;
	border: solid #afb5b6 3px;
	flex-grow: 1;
	background-color: #f3ca4b;
}
#d1{
	color: white;
	position: absolute;
	padding-left: 20px;
	padding-top: 210px;
	line-height: 1.6;
}
#d2{
	font-weight: bold;
	text-align: center;
	margin-top: -98px;
}
#i1{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 27px;
}
#js{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
#caixinhas #branco1{
	display: block;
	width: 312px;
	height: 118px;
	background-color: white;
	z-index: -1;
	margin-top: 87px;
	margin-left: 0px;
	box-shadow: 0px 3px grey;
}
#estudar{
	background-color: #ff7f00;
	border-radius: 9px;
	color: white;
	text-align: center;
	font-size: 14px;
	position: absolute;
	padding: 10px 8px 10px 8px;
	width: 185px;
	letter-spacing: 3px;

}
#branco1 #estudar{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 57px;
	cursor: pointer;
}
/*exemplo fixados: ver+*/
/*designar como vai ser o botão*/
#ver{
	background-color: black;
	color: white;
	letter-spacing: 2px;
	padding: 5px;
	text-align: center;
	max-width: 170px;
	border-radius: 4px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	cursor: pointer;
}
/*designar a posição dele, como block, dentro de caixa1*/

.caixa2{
	display: block;
	width: 1340px;
	height: 565px;
	border-top: solid #afb5b6 2px;
	border-bottom: solid #afb5b6 2px;
	position: relative;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: 1086px;
	left: -11px;

}
.caixa2 #d2{
	text-align: right;
}
.caixa2 #caixa1{
	background-color: #b21300;
}
.caixa2 #caixa2,.caixa2 #caixa4{
	background-color: #a72d3a;
}
#caixinhas #negocioroxo{
	margin-left: 0; 
}
.caixa2 #caixa3{
	background-color: #8a2bff;
	/*9d03be*/
}
.caixa2 #caixa3 #i1{
	filter: hue-rotate(10deg);
}
.caixa2 #estudar{
	background-color: #a72d3a;
}
#dois{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 7px;
	text-align: center;
	color: #a1372b;
}
.caixa2 #caixa3 #branco1{
	margin-top: 90px;
}
